.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
/*
.navbar.navbar-inverse {
  background-image: none;
  background-color: #089d69;
  border-radius: 0;
  border: none;
}

a {
  color: #293B78;
}  
  
.navbar.navbar-inverse .navbar-nav>li>a {
  font-size: 17px;
  font-weight: bold;
  text-shadow: none;
}

.navbar.navbar-inverse .navbar-brand {
  color: #ecf0f1;
}
.navbar.navbar-inverse .navbar-brand:hover,
.navbar.navbar-inverse .navbar-brand:focus {
  color: #9ec7b3;
}
.navbar.navbar-inverse .navbar-text {
  color: #ecf0f1;
}
.navbar.navbar-inverse .navbar-text a {
  color: #9ec7b3;
}
.navbar.navbar-inverse .navbar-text a:hover,
.navbar.navbar-inverse .navbar-text a:focus {
  color: #9ec7b3; 
}
.navbar.navbar-inverse .navbar-nav .nav-link {
  color: #ecf0f1;
  border-radius: .25rem;
  margin: 0 0.25em;
}
.navbar.navbar-inverse .navbar-nav .nav-link:not(.disabled):hover,
.navbar.navbar-inverse .navbar-nav .nav-link:not(.disabled):focus {
  color: #9ec7b3;
}
.navbar.navbar-inverse .navbar-nav .dropdown-menu {
  background-color: #089d69;
  border-color: #0a4d32;
}
.navbar.navbar-inverse .navbar-nav .dropdown-menu .dropdown-item {
  color: #ecf0f1;
}
.navbar.navbar-inverse .navbar-nav .dropdown-menu .dropdown-item:hover,
.navbar.navbar-inverse .navbar-nav .dropdown-menu .dropdown-item:focus,
.navbar.navbar-inverse .navbar-nav .dropdown-menu .dropdown-item.active {
  color: #9ec7b3;
  background-color: #0a4d32;
}
.navbar.navbar-inverse .navbar-nav .dropdown-menu .dropdown-divider {
  border-top-color: #0a4d32;
}
.navbar.navbar-inverse .navbar-nav .nav-item.active .nav-link,
.navbar.navbar-inverse .navbar-nav .nav-item.active .nav-link:hover,
.navbar.navbar-inverse .navbar-nav .nav-item.active .nav-link:focus,
.navbar.navbar-inverse .navbar-nav .nav-item.show .nav-link,
.navbar.navbar-inverse .navbar-nav .nav-item.show .nav-link:hover,
.navbar.navbar-inverse .navbar-nav .nav-item.show .nav-link:focus {
  color: #9ec7b3;
  background-color: #0a4d32;
}
.navbar.navbar-inverse .navbar-toggle {
  border-color: #0a4d32;
}
.navbar.navbar-inverse .navbar-toggle:hover,
.navbar.navbar-inverse .navbar-toggle:focus {
  background-color: #0a4d32;
}
.navbar.navbar-inverse .navbar-toggle .navbar-toggler-icon {
  color: #ecf0f1;
}
.navbar.navbar-inverse .navbar-collapse,
.navbar.navbar-inverse .navbar-form {
  border-color: #ecf0f1;
}
.navbar.navbar-inverse .navbar-link {
  color: #ecf0f1;
}
.navbar.navbar-inverse .navbar-link:hover {
  color: #9ec7b3;
}

@media (max-width: 575px) {
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #9ec7b3;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #9ec7b3;
    background-color: #0a4d32;
  }
}

@media (max-width: 767px) {
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #9ec7b3;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #9ec7b3;
    background-color: #0a4d32;
  }
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #9ec7b3;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #9ec7b3;
    background-color: #0a4d32;
  }
}

@media (max-width: 1199px) {
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #9ec7b3;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #9ec7b3;
    background-color: #0a4d32;
  }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #ecf0f1;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: #9ec7b3;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #9ec7b3;
  background-color: #0a4d32;
}*/